*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.wrapper{
    height: 100vh;  width: 100vw;
    background: url("../images/library.webp") no-repeat fixed center/cover;
    display: flex;
}
.menu{
    height: 100vh; width: auto;
    background-color: #550202;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.menu input[type="submit"]{
    width: 13vw;
    background-color: transparent;
    color: rgb(255, 253, 251);
    border-width: 0;
    font-size: 100%;
    font-family: cursive;
    margin: 2vh 0;
    padding: 1vh 1vw;
}
section input:focus, textarea:focus{
    outline: 1px solid #ffcf40;
}
.menu input:focus{
    outline: none;
    background-color: #6c000085;
    border: 3px inset #550202;
}
section{
    background-color: rgba(0, 0, 0, 0.719);
    border-left: 10vh solid transparent;
    width: 85vw; height: 100vh;
    display:flex;
    margin: auto;
}
.photo{
    width: 26vw; height: 80vh;
    border-width: 1px;
    border-left-width: 1vw;
    display: flex;
    align-self: center;
}
.text{
    display: flex;
    flex-direction: column;
    font-family: cursive;
    line-height: 6vh;
    padding: 4% 0 0 13%;
    color: rgb(243, 201, 147);
}
label{
    font-size: 1.2em;
}
input[type="text"], textarea,input[type="number"]{
    width: 30vw;  height: 4vh;
    font-size: 1em;
}
input[id="input-text country"], input[id="input-text city"], input[id="input-text Street"]{
    margin-left: 0.5vw;
    width: 21.5vw;
}
input[id="input-text country-address"], input[id="input-text city"], input[id="input-text Street"]{
    width: 9.5vw;
}
.data-country, .address{
    display: flex;
    font-size: 1em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
textarea{
    height: 15vh;
}
section input[type="submit"]{

    background-color: rgba(248, 61, 4, 0.822);
    border-color:rgba(172, 149, 120, 0.75);
    margin: 2vh 0;
    font-size: 120%;
    letter-spacing: 1px;
    color: rgb(255, 253, 251);
    font-family: cursive;
}
section form.Add{
    display: flex;
    flex-direction: column;
}

